In [22]:
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv('https://raw.githubusercontent.com/scpike/us-state-county-zip/master/geo-data.csv')
df.head()

   state_fips    state state_abbr zipcode      county        city
0           1  Alabama         AL   35004   St. Clair       Acmar
1           1  Alabama         AL   35005   Jefferson  Adamsville
2           1  Alabama         AL   35006   Jefferson       Adger
3           1  Alabama         AL   35007      Shelby    Keystone
4           1  Alabama         AL   35010  Tallapoosa    New site

In [23]:
# Group by the data by states and taking the count
state_groupby = df.groupby(by=(['state'])).count()

# Sorting the data in descending for the column zipcode
df_filt = state_groupby.sort_values('zipcode',ascending=False).head(10)

#Fetching the index from the groupby dataset and storing it in a numpy array
top_ten_states_byzipcode = np.array(df_filt.index)
print(top_ten_states_byzipcode)

['Texas' 'Pennsylvania' 'California' 'New york' 'Illinois' 'Ohio'
 'Missouri' 'Michigan' 'Iowa' 'Florida']